$bg-color: #1f1f1f;
$bg-color-variant: rgba(0, 0, 0, 0.6);

$primary-color: white;
$primary-color-light: rgba(255, 255, 255, 0.6);
$primary-color-blue: rgb(91, 203, 255);
$primary-color-variant: #1f1f1f;

$container-width-lg: 75%;
$container-width-md: 86%;
$container-width-sm: 90%;

$transition: all 400ms ease;

/* ================ MEDIA QUERIES (MIXINS) ================ */
$breakpoints: (
    "phone-down": 600px,
    "tablet-up": 768px,
    "tablet-down": 900px,
    "desktop-up": 1024px,
    "desktop-down": 1280px,
    "widescreen-up": 1440px,
);
/* from... */
@mixin media-min($_key) {
    @media screen and (min-width: map-get($breakpoints, $_key)) {
        @content;
    }
}

/* to... */
@mixin media-max($_key) {
    @media screen and (max-width: map-get($breakpoints, $_key)) {
        @content;
    }
}

/* from... to... */
@mixin media-between($_keymin, $_keymax) {
    @media screen and (min-width: map-get($breakpoints, $_keymin)) and (max-width: map-get($breakpoints, $_keymax)) {
        @content;
    }
}

/* at... */
@mixin media($_key) {
    @media screen and (min-width: map-get($breakpoints, $_key)) and (max-width: map-get($breakpoints, nth(map-keys($breakpoints), index(map-keys($breakpoints), $_key) + 1))) {
        @content;
    }
}
%edged {
    width: 100%;
    margin: 0 auto;

    @each $_key, $_value in $breakpoints {
        @include media-min($_key) {
            width: ($_value - 100px);
        }
    }
}
