@import "../../style/settings";

nav{
    background: rgba(0,0,0,0.3);
    width: max-content();
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    padding: 0.7rem 1.7rem;
    display: flex;
    gap: 1.2rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
    
    a{
        background: transparent;
        padding: 0.8rem;
        border-radius: 50%;
        display: flex;
        font-size: 1.1rem;
        color: $primary-color-light;

        &:hover{
            background-color: rgba(0,0,0,0.2);
        }

        &.active {
            background-color: $bg-color;
            color: $primary-color;
        }
    }

}